{% extends "base.html" %}
{% block title %} Fedimint {% endblock %}
{% block content %}
<p>{{ connection_string }}</p>
<h3>Message this connection string to another Guardian to get connected</h3>

<form action="/player" method="post">
  <div>
    <label for="client_config">
      Client Config:
      <textarea type="text" name="client_config"></textarea>
    </label>
  </div>
  <div>
    <label for="config">
      Config:
      <textarea type="text" name="config"></textarea>
    </label>
  </div>
  <div>
    <input type="submit" value="Download config" />
  </div>
</form>
{% endblock %}