{% extends "base.html" %}
{% block title %} Fedimint {% endblock %}

{% block content %}
<div>
    <div class="container text-center mt-5">
        <h3>Federation Guardians</h3>
        <form action="/dealer" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="name" value="{{guardian.name}}" readonly>
            </div>
            <div class="form-group">
                <input type="form-control" type="text" name="connection_string" value="{{ guardian.connection_string}}"
                    readonly>
            </div>
            {% for g in count_guardians %}
            <h3>Guardian {{g}}</h3>
            <div class="form-group">
                <label for="name">
                    Name
                </label>
                <input type="text" class="form-control" name="name" placeholder="Satoshi Nakamoto" required />
            </div>
            <div class="form-group mt-3">
                <label for="connection_string">
                    Connection String
                </label>
                <input type="text" class="form-control" name="connection_string"
                    pattern="^0[2,3][0-9,a-f]{64}@(?:[0-9]{1,3}\.){3}[0-9]{1,3}$"
                    placeholder="021000000@127.0.0.1:10000" required />
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary my-3">Start Your Federation</button>
        </form>
    </div>
</div>
{% endblock %}
